/*--My Times CSS-*/


h1 {
  font-size: 200px;
}

.flex-header span {
  color: MediumAquamarine;
  background-color: white;
  font-size: 14px;
  font-weight: 700;
  font-family: Verdana;
  margin: 0px 0px 0px 10px;

}

.flex-header {
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;

}

.flex-item-logo-name {
  display: flex;
  align-items: center;

  margin-left: 30px;

}

.flex-item-nav span {
  display: inline-block;
  margin: 0px 50px 0px 0px;
}

.flex-item-nav a {

  font-family: Verdana;
  font-size: 14px;
  color: black;
  background-color: white;

}


.content-flex {
  display: inline-flex;
  border: 1px solid black;
  width: 100%;


}

.column.large {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 630px;

  margin: 10px 15px 10px 15px;

}

.main-story {
  display: flex;
  flex-wrap: wrap;

}

.subcolumn1 {
  display: flex;
  flex-direction: column;

}

.subcolumn2 {
  display: flex;
  flex-direction: column;

}

.story {
  width: 275px;
  height: auto;


}

.column.medium {
 width: 300px;

 margin: 10px 15px 10px 15px;
}

.column.small {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 240px;

  margin: 10px 15px 10px 15px;

}

.news-bites {
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.news-bites p {
  border-bottom: 1px solid black;
}

h2.column.small {
  font-size: 16px;
  font-weight: bold;
}

.footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 400px;

}

.bottom-logo {
  display: flex;
  justify-content: center;
  align-items: center;

}

.bottom-nav {

}

.bottom-logo {

}

.copyright {

}

#bottom-logo-font {
 font-family: Georgia;
 font-size: 16px;
 font-weight: bold;
 color: white;
 background-color: MediumAquamarine;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h3.article-image.tuna {
    color: white;
    font-size: 40px;


}

.article-image {
  display: flex;

}

.article-image h3 {
  font-weight: bold;
  font-family: Georgia;
  color: white;

}


.tuna {
  width: 600px;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.cats {
  width: 256px;
  height: 300px;

  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.trees {
  width: auto;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");

}

.camera {
  width: auto;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");

}
